body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

main {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 20px;
  background-color: #fff;
}

h2 {
  color: #333;
}

#new-task, #tasks {
  margin-bottom: 20px;
}

#task-form {
  display: flex;
  justify-content: space-between;
}

#task-input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #5C9210;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

#task-list {
  list-style: none;
  padding-left: 0;
}

#task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

#task-list li.done {
  text-decoration: line-through;
  background-color: #e9ecef;
}

input[type="checkbox"] {
  margin-right: 10px;
}
